<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learners academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddclassServlet</display-name>
    <servlet-name>AddclassServlet</servlet-name>
    <servlet-class>com.controller.AddclassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddclassServlet</servlet-name>
    <url-pattern>/AddclassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adclassname</display-name>
    <servlet-name>Adclassname</servlet-name>
    <servlet-class>com.controller.Adclassname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adclassname</servlet-name>
    <url-pattern>/Adclassname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classreport</display-name>
    <servlet-name>Classreport</servlet-name>
    <servlet-class>com.controller.Classreport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classreport</servlet-name>
    <url-pattern>/Classreport</url-pattern>
  </servlet-mapping>
</web-app>